---
import { Heading } from "my-theme/components";
import config from "my-theme/config";
import { Layout } from "my-theme/layouts";
---

<Layout>
  <Heading></Heading>
  <h2>{config.description}</h2>
  <p><code>astro-theme-provider</code><img src="/favicon.svg" alt="rocket" /></p>
  <h3>Explore</h3>
  <ul>
    <li><a href="/cats">Cats - Dynamic routing and images</a></li>
  </ul>
</Layout>

<style>
  p {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>