---
import { Image } from "astro:assets";
import { sit } from "theme-ssg/assets";
import { Layout } from "theme-ssg/layouts";
---

<Layout>
  <Image src={sit} alt="Levi sitting" />
  <h2>Hey I'm Levi</h2>
  <ul>
    <li><a href="/cats/starlight">Next Cat</a></li>
  </ul>
</Layout>
