---
import config from 'my-theme/config'

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props
---

<header>
  {Astro.slots.has('default') && Astro.slots.render('default') || <h1>{title || config.title || 'My Theme Title'}</h1>}
  {Astro.slots.has('description') && Astro.slots.render('description') || <p>{description || config.description || 'This is a description'}</p>}
</header>

<style>
  :global(body) {
    display: grid;
    place-items: center;
  }

  header {
    display: grid;
    place-items: center;
  }

  h1 {
    font-size: 3rem;
    margin: .1em 0;
  }
</style>
