---
import { Layout } from 'my-theme/layouts';
import { Heading } from 'my-theme/components'
---

<Layout>
  <Heading>Hey!</Heading>
  <h2>This is a Theme created using</h2>
  <p><code>astro-theme-provider</code></p>
  <h3>Explore</h3>
  <ul>
    <li><a href="/cats">Cats - Dynamic routing and images</a></li>
  </ul>
</Layout>