---
import { Layout } from 'my-theme/layouts';
import { Heading } from 'my-theme/components';
import config from 'my-theme/config';
---

<Layout>
  <Heading></Heading>
  <h2>{config.description}</h2>
  <p><code>astro-theme-provider</code></p>
  <h3>Explore</h3>
  <ul>
    <li><a href="/cats">Cats - Dynamic routing and images</a></li>
  </ul>
</Layout>