---
import { Layout } from "virtual:my-theme/components";
import 'virtual:my-theme/css';
---

<Layout>
  <header>
    <h1>404</h1>
    <p>This is an error page <a href="/">Back to home </a></p>
  </header>
</Layout>

<style>
  :global(body) {
    display: grid;
    place-items: center;
  }

  header {
    display: grid;
    place-items: center;
  }

  h1 {
    font-size: 9rem;
    margin: .1em 0;
  }
</style>