---
import { getCollection } from "astro:content";
import { Layout } from "theme-playground:layouts";

const posts = await getCollection('blog')
---

<Layout>
	<h1>Blog posts</h1>
	<ul>
		{ posts.map((post: any) => {
			return (
				<li>
					<a href={`/blog/${post.slug}`}>
						<h3>
							{post.data.title}
						</h3>
					</a>
				</li>
			)
		})}
	</ul>
</Layout>
