html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body > a {
	position: absolute;
	top: 1rem;
	left: 1rem;
}

main {
	height: 100%;
	display: grid;
	place-content: center;
	text-align: center;
	margin-top: -3rem;
}

img {
	max-width: 250px;
	height: auto;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-style: italic;
	font-weight: normal;
	font-size: 1.75rem;
}

code {
	background-color: rgba(0, 0, 0, 0.15);
	padding: 0.2rem;
	font-size: 1.5rem;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
}
