---
import { Heading } from "theme-playground:components";
import config from "theme-playground:config";
import { integrations } from "theme-playground:context";
import { Layout } from "theme-playground:layouts";

if (integrations.has("@astrojs/sitemap")) {
}
---

<Layout>
  <Heading></Heading>
  <h2>{config.description}</h2>
  <p><code>astro-theme-provider</code><img src="/favicon.svg" alt="rocket" /></p>
  <h3>Explore</h3>
  <ul>
    <li><a href="/cats">Cats - Dynamic routing and images</a></li>
  </ul>
	<h3>Integrations</h3>
	<ul>
		{Array.from(integrations).map(name => {
			return <li>{name}</li>
		})}
	</ul>
</Layout>

<style>
  p {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
